body{
    background-color: #528AAE;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
}

#loginpage{
    display: flex;
    flex-direction: row;
    width: calc(100vw - 40px);
    height: calc(70vh);
    max-width: 2000px;
}

#welcome{
    width: 50%;
    background-color: #91bad6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome div{
    background-color: #BCD2E8;
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    line-height: 30px;
    box-shadow: 0px 0px 10px 1px #2E5984;
}

#login{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #73A5C6;
}

#login div{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

#login div input{
    width: 450px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    padding-left: 10px;
}

#login div button{
    height: 40px;
    border-radius: 5px;
    background-color: #2E5984;
    border: none;
    color: white;
    width: 100%;
    font-size: 22px;
}

#login a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1134px) {
    #loginpage{
      flex-direction: column-reverse;
    }
    #welcome{
        width: 100%;
        height: calc(100%);
    }
    #welcome div{
        width: 500px;
    }
    #login{
        width: 100%;
        height: calc(100%);
    }
  }